.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container for the sign-up box */
.signupcontainer {
    padding: 2rem;
    width: 100%;
    max-width: 500px;
    text-align: center;
}

/* Title and subtitle styling */
.signupcontainer h1 {
    color: #36D06E;
    font-size: 25px;
    margin-bottom: 0.5rem;
    font-family: 'Poppins';
    font-weight: bold;
}

.signupcontainer h2 {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 2rem;
    font-family: Coolvetica;
    font-size: 35px;
    font-family: 'Poppins';
    font-weight: 600;

}
.signupcontainer p{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
   color: #3D3D3D;
   margin-top: 0px;
   padding-top: 0px;
}

/* Input field styling */
.signupcontainer input[type="text"],
.signupcontainer input[type="email"],
.signupcontainer input[type="password"] {
     
    width: 100%;
    height: 80px;
    opacity: 0px;
    margin-top: 50px;
    background-color: #F3F3F3;
    border-radius: 18px;
    border: 1px solid #C5C5C5;
    padding: 0px 20px;
    font-family: 'Poppins';
    outline: none;
}

/* Sign Up button styling */
.signupcontainer button {
    background-color: #00C849;
    color: white;
    width: 100%;
    height: 80px;
    border-radius: 18px;
    cursor: pointer;
    font-family: Coolvetica;
    font-size: 21px;
    font-weight: 600;
    font-family: 'Poppins';
    margin-top: 30px;
    outline: none;
}

.leftImage{
    position: absolute;
    left: 0;
    top: 0;
}
.rigthtImage{
    position: absolute;
    right: 0;
    top: 0;
}