
.hoverEffect {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hoverEffect:hover {
  transform: translateY(-5px); /* Moves the div slightly upward */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a shadow effect */
}

.hoverEffect:hover img {
  transform: scale(1.1); /* Slight zoom effect on the image */
  transition: transform 0.3s ease;
}

.hoverEffect p {
  margin: 0;
  color: #333;
}

.hoverEffect:hover p {
  transition: color 0.3s ease;
}
.profile{
  position: absolute;
  top: 195px;
  left: 27px;
}
  
  .coverImage img {
    width: 100%;
    height: 245px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .profileImage {
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 23%;
    left: 25px;
    top: 200px;
    border: 5px solid white;
}
.profileDetails{
    padding-top: 60px;
}
  .editOverlay{
    background-color: #ffffff;
    position: absolute;
    top: 83%;
    border-radius: 15px;
    padding: 3px;
    left: 95%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .editCoverIcon{
    position: absolute;
    z-index: 1000;
    right: 25px;
    top: 220px;
    font-size: 20px;
  }
  .profileDetails h4 {
    color: #333;
    font-size: 1.5em;
    margin-top: 5px;
    font-size: 30px;
  }
  
  .profileDetails p {
    color: #666;
    margin: 5px 0;
  }
  .manageButton {
    text-align: center;
    justify-content: center;
    display: flex;
    background-color: #EFEFEF;
    color: rgba(0, 0, 0, 0.699);
    border: none;
    padding: 10px 20px;
    gap: 4px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
  }
  .actionButtons{
    display: flex;
    justify-content: space-between;
  }
  .actionButtons button {
    width: 100%;
    height: 153px;
    background-color: #EFEFEF;
    border: 1px solid #ddd;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  .actionButtons button p {
    font-size: 20px;
    font-family: 'poppins';
  }
  .actionButtons button .icon {
    width: 56px;
    height: 56px;
  }
 .addprofile{
  position: absolute;
  right: 0;
  margin-right: 20px;
  margin-top: 20px;
  height: 38px;
  width: 130px;
  padding: 5px;
  background-color: #EFEFEF;
  border: 1px solid #ddd;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.699);
  text-align: center;
  font-family: "poppins";
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
 }
  
  .listGroup {
    background-color: #FAF7F7;
    padding: 0;
    border-radius: 29px;
    text-align: center;
    border: 1px solid #A0A0A0;
    margin-top: 30px;
    cursor: pointer;
}
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  cursor: pointer;
}
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background-color: #fff;
  border-radius: 44px;
  padding: 20px;
  width: 650px;
  max-width: 90%;
  padding: 20px;
  text-align: center;
  position: relative;
}
.ProfilemodalContent{
  background-color: #fff;
    border-radius: 44px;
    padding: 20px;
    width: 650px;
    max-width: 95%;
    /* padding: 30px; */
    text-align: center;
    position: relative;
}
.modalContent h2{
  text-align: left;
  font-family: 'Poppins';
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;

}

.closeButton {
  position: absolute;
  top: 3px;
  right: 13px;
  background: none;
  border: none;
  font-size: 40px;
  cursor: pointer;
  color: #1acb5b;
  outline: none;
}

.profileIcon{
  width: 100%;
  height: 126px;
  margin-bottom: 20px;
  /* border: 5px solid #EDEDED; */
  /* border-radius: 23px; */
  position: relative;
}
.ProfileOverlay{
  background-color: #ffffff;
  position: absolute;
  top: 72%;
  border-radius: 15px;
  padding: 3px;
  left: 84%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.submitButton {
  width: 100%;
  padding: 10px;
  background-color: #1ACB5B; /* Green button */
  color: #fff;
  border: none;
  height: 55px;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 15px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #218838;
}
label {

  float: left;
  display: inline-block;
  margin-bottom: 0;
  padding-bottom: 0;
  /* margin-bottom: .5rem; */
}
form input{
  background-color: #F2F2F2;
  border: 1px solid #AEADAD;
  border-radius: 10px;
  height: 55px;
  outline: none;
}
.swal-popup-small {
  width: 300px !important; /* Adjust width */
  height: auto !important; /* Adjust height */
  padding: 20px !important; /* Adjust padding */
}

.confirmButton {
  background-color: #2ccf68; /* Green background */
  color: white;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.sharebtn{
  height: 55px;
  width: 75%;
  background-color: #00C849;
  border-radius: 18px;
  color: white;
  border: none;
  font-weight: 600;
  margin-top: 30px;
}
.modalContent img{
  border-radius: 10px;
  margin-right: 10px;
}