.hoverEffect {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hoverEffect:hover {
  transform: translateY(-5px); /* Moves the div slightly upward */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a shadow effect */
}

.hoverEffect:hover img {
  transform: scale(1.1); /* Slight zoom effect on the image */
  transition: transform 0.3s ease;
}

.hoverEffect p {
  margin: 0;
  color: #333;
}

.hoverEffect:hover p {
  transition: color 0.3s ease;
}
.searchIcon{
  padding: 14px;
  background-color: #1ACB5B;
  display: flex;
  align-items: center;
  
}

.statusUnsatisfactory {
  padding: 0.5rem;
  margin-bottom: 0.25rem;
  border-radius: 10px;
  text-align: center;
  color: white;
}

.unsatisfactory {
  background-color: #FF9E9E;
  color: #F60D1B;
}

.fair {
  background-color: #FFEFC7;
  color: #F0B61F;
}

.excellent {
  background-color: #BFFFBE;
  color: #1ACB5B;
}

.good {
  background-color: #D8FFB0;
  color: #61B80B;
}

  .starRating span {
    color: gold;
  }
  .searchBtns{
    border-color: #1ACB5B;
    color: #1ACB5B;
  }
  .cardbody {
    display: flex
    ;
        /* justify-content: space-between; */
        /* align-items: center; */
        /* border: 3px solid #DEDEDE; */
        flex-direction: column;
        border-radius: 25px;
        width: 100%;
        border: none;
        box-shadow: 0px 6.83px 36.66px 0px #0000000F;
        height: 100%;
  }
  .search input{
    border: 3px solid #DEDEDE;
    border-radius: 25px;
    height: 65px;
    outline: none;
  }
  .btn{
    border: 3px solid #DEDEDE;
    border-radius: 25px;
    height: 70px;
  }
  .containerFluid {
    /* existing styles */
  }
  .feedback{
    word-break: break-all;
  }
  
  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modalContent {
    background: white;
    padding: 27px;
    border-radius: 44px;
    max-width: 700px;
    position: relative;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .closeButton{
    border: none;
    position: absolute;
    font-size: 35px;
    top: 14px;
    color: #1ACB5B;
    right: 40px;
    background: transparent;
  }
  .inactive{
    color: #F0B61F;
    font-size: 28px;
  }
  .heading{
    font-size: 22px;
    margin-bottom: 1px;
  }
  .active {
    color: gold; /* Highlighted stars */
  }
  
  .inactive {
    color: lightgray; /* Dimmed stars */
  }
  
  @media only screen and (max-width: 400px) {
    .heading{
      font-size: 20px;
    }
    .statusUnsatisfactory {
      background-color: #f8d7da;
      font-size: 11px;
      color: 10px;
      text-align: center;
      width: 82px;
      color: #721c24;
  }
  .searchIcon{
    padding: 7px;
    background-color: #1ACB5B;
    display: flex;
    align-items: center;
    
  }
  .cardbody {
    display: flex;
        flex-direction: column;
        border-radius: 25px;
        width: 100%;
        border: none;
        box-shadow: 0px 6.83px 36.66px 0px #0000000F;
        height: 100%;
  }

  }

  